.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: #DFF4F1;
  }
  
  .top-container {
    padding: 40px 0 0 60px;
  }
  
  .top-primary {
    color: #33C3AC;
  }
  
  .top-secondary.student-id {
    margin-bottom: 10px;
  }
  
  .description-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .description-text-container {
    margin-top: 100px;
    width: 45%;
  }
  
  .description-title {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  
  .description-subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .bitcoin {
    width: 50%;
  }
  
  .arrow {
    width: 40px;
    margin-top: 20px;
  
  }
  
  .table-container {
    margin-top: 60px;
  }
  
  .table-container > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table-container > table > thead > tr > th {
    text-align: left;
    padding: 20px 0 20px 5px;
    background-color: #295F57;
  }
  
  .table-container > table > thead > tr > th:first-child {
    padding-left: 60px;
  }
  .table-container > table > thead > tr > th:last-child {
    margin-right: 60px;
  }
  
  .table-container > table > tbody > tr > td {
    padding-top: 20px;
  }
  .table-container > table > tbody > tr > td:first-child {
    padding-left: 60px;
  }
  .table-container > table > tbody > tr > td:last-child {
    margin-right: 60px;
  }